@font-face {

font-family: "GEDinarOne-Light"

src:
url('https://github.com/Mohammed-Abdulmohsen/fonts.github.io/raw/main/SIO-Fonts/GEDinarOne-Light.otf') format('opentype');

font-weight: normal;
font-style: normal;

}
