@font-face {

font-family: "GEDinarOne-Medium";

src:
url('https://mohammed-abdulmohsen.github.io/SIO-Fonts/GEDinarOne-Medium.otf') format('opentype');

font-weight: normal;
font-style: normal;

}
